img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
#logo1 {
  height: 120px;
  display: block;
  margin: auto;
  position: relative;
}
#pics {
  float: left;
  width: 420px;
}
#search {
  float: right;
  width: 260px;
}
#main {
  margin: 0 280px 0 440px;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 270px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
.content {
  margin: auto;
  width: 1200px;
}
.ant-card-head {
  height: 56px;
}
#card1 {
  height: 270px;
}
#card2 {
  margin-top: 16px;
  height: 220px;
  width: 260px;
}
#morenews {
  margin-top: 28px;
}
#head-title {
  display: inline-block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
}
.largenews {
  height: 300px;
  overflow: hidden;
}
.ant-input-search .ant-input-affix-wrapper {
  width: 260px;
}
#maincontent {
  font-size: 16px;
}
.ellipsis {
  max-width: 250;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
